<div id='mapa'>
  
  <div id="irCentro" (click)="irCentro();">
    <ion-icon name="map-outline"></ion-icon>
  </div>
  
  <ion-grid class="ion-no-margin" *ngIf="booleanPopup">
    <ion-row style="background-color: white; max-height: 120px; border-radius: 20px; ">
      <ion-col size="4" class="ion-no-padding">
        <img [src]="datosEstablecimiento.foto_tapa" style="border-radius: 20px;">
      </ion-col>
      <ion-col size="5">

        <ion-label color="primary" style="font-size: 14px; font-weight: bold; font-family: 'Nunito';">{{datosEstablecimiento.nombre}}</ion-label><br><br>
        <ion-label class="ion-align-items-center ion-margin-top"  style="font-size: 12px; font-weight: bold; font-family: 'Nunito';">
          <ion-icon name="pizza-outline"></ion-icon>
          {{datosEstablecimiento.nombre_tapa}}
        </ion-label><br>

        <ion-label class="ion-align-items-center"  style="font-size: 12px; font-weight: bold; font-family: 'Nunito';">
          <ion-icon name="location-outline"></ion-icon>
          {{datosEstablecimiento.ubicacion}}
        </ion-label><br>

        <ion-label class="ion-align-items-center"  style="font-size: 12px; font-weight: bold; font-family: 'Nunito';">
          <ion-icon name="star-outline"></ion-icon>
            {{datosEstablecimiento.valoracion[0]}} ({{datosEstablecimiento.valoracion[1]}}<span *ngIf="datosEstablecimiento.valoracion[1] == 1"> valoracion)</span><span *ngIf="datosEstablecimiento.valoracion[1] == 0 || datosEstablecimiento.valoracion[1] > 1"> valoraciones)</span>
        </ion-label>
        
        
      </ion-col>

      <ion-col size="3" class="ion-text-right">

        <div style="display: flex; flex-direction: row; justify-content: space-around;">

          <ion-icon (click)="$event.stopPropagation(); postEstablecimientoFavorito(datosEstablecimiento.id)" *ngIf="!datosEstablecimiento.favorito" name="heart-outline" style="font-size: 16px;" class=""></ion-icon>
          <ion-icon (click)="$event.stopPropagation(); deleteEstablecimientoFavorito(datosEstablecimiento.id)" color="danger" *ngIf="datosEstablecimiento.favorito" name="heart" style="font-size: 16px;" class=""></ion-icon>
              
          <ion-icon (click)="this.booleanPopup = false; variablePopup = false;" name="close-circle-outline" style="font-size: 18px; color: red;" class=""></ion-icon>

        </div>


        <ion-label *ngIf="datosEstablecimiento.sellado && datosEstablecimiento.valorado > -1" color="primary" class="ion-margin-top" style="font-family: 'Nunito'; font-size: 12px; font-weight: bold; margin-top: 4.5em; display: flex; justify-content: center;">
          Valorado: {{datosEstablecimiento.valorado}}
        </ion-label>

        <ion-label *ngIf="datosEstablecimiento.sellado && datosEstablecimiento.valorado == -2" color="primary" class="ion-margin-top" style="font-family: 'Nunito'; font-size: 12px; font-weight: bold; margin-top: 4.5em; display: flex; justify-content: center;">
          Sellado
        </ion-label>

        <ion-button *ngIf="!datosEstablecimiento.sellado" shape="round" color="primary" style="font-family: 'Nunito'; font-size: 12px; font-weight: bold; margin-top: 3em; margin-right: 0.6em;" (click)="sellarEstablecimiento(datosEstablecimiento.id)">
          Sellar
        </ion-button>
        
        <ion-button *ngIf="datosEstablecimiento.sellado && datosEstablecimiento.valorado == -1" shape="round" color="primary" style="font-family: 'Nunito'; font-size: 12px; font-weight: bold; margin-top: 3em; margin-right: 0.6em;" (click)="llamarValoraciones(datosEstablecimiento.id, -2);">
          Valorar
        </ion-button>



       
        

      </ion-col>

    </ion-row>
  </ion-grid>

</div>
