ion-grid:nth-of-type(2){
    width: 100% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
}


img{
    border-radius: 20px !important;
    height: 100px;
    width: 150px !important;
}

ion-icon{
    --ionicon-stroke-width: 30px;
}

ion-searchbar{
    --background: white;
}

#filtro{
    --background: white;
    --border-radius: 10px !important;
   
}

    #filtro ion-icon{
        font-size: 16px;
    }

ion-segment{
    --background: white;   
}

ion-segment-button ion-label{
    font-family: 'Nunito';
    font-size: 14px;
}

ion-segment-button{
    --background-checked: var( --ion-color-primary ) !important;
    --background-focused: var( --ion-color-primary ) !important;
    z-index: 10;
    --indicator-color: transparent!important;
    --color-checked: white;
}

