<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon style="font-size: 26px;" color="primary" name="arrow-back-outline" (click)="cerrarEstablecimiento();"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-center" color="primary">
      {{ruta.nombre}}
    </ion-title>

  </ion-toolbar>

  <!-- BARRA DE BUSQUEDA Y FILTROS -->

  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="10">
          
            <ion-searchbar 
              mode="ios" 
              placeholder="Buscar por Bar Pepe, Bar Parada..." 
              (ionChange)="buscar($event)" 
              [value]="textoBuscar"
              [debounce]="250">
            </ion-searchbar>

        </ion-col>

        <ion-col size="2">
          
          <div style="display: flex; justify-content: center; align-items: center; height: 37px; background-color: white; border-radius: 8px;">
            <ion-icon color="primary" style="font-size: 20px; --ionicon-stroke-width: 40px;" name="filter-outline"></ion-icon>
          </div>
          
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="lista" mode="ios" style="width: 200px; height: 20px !important; min-height: 32px; margin-top: -1.5em;">
      <ion-segment-button  value="lista" style="height: 20px;">
        <ion-label>Lista</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mapa" style="height: 20px;">
        <ion-label>Mapa</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


</ion-header>

<ion-content>
  
  <ion-list lines="none" *ngIf="valorSegment === 'lista'">
    <ion-item *ngFor="let establecimiento of establecimientos | filtroEstablecimiento: textoBuscar: 'nombre'">
      
      <ion-grid class="ion-no-margin">
        <ion-row style="background-color: white; border-radius: 20px; max-height: 100px;">
          <ion-col size="4" class="ion-no-padding">
            <img [src]="establecimiento.foto_tapa" >
          </ion-col>
          <ion-col size="5">

            <ion-label color="primary" style="font-size: 14px; font-weight: bold; font-family: 'Nunito';">{{establecimiento.nombre}}</ion-label>
            <ion-label class="ion-align-items-center" class="ion-margin-top" style="font-size: 12px; font-weight: bold; font-family: 'Nunito';">
              <ion-icon name="pizza-outline"></ion-icon>
              {{establecimiento.nombre_tapa}}
            </ion-label>
            
          </ion-col>

          <ion-col size="3" class="ion-text-right">

            <div style="display: flex; flex-direction: row; justify-content: space-around;">
              <ion-icon name="heart-outline" style="font-size: 16px;" class=""></ion-icon>
              <ion-icon name="share-social-outline" style="font-size: 16px;" class=""></ion-icon>

            </div>

            <ion-label *ngIf="establecimiento.sellado" color="primary" class="ion-margin-top" style="font-family: 'Nunito'; font-size: 12px; font-weight: bold; margin-top: 4.5em; margin-right: 1em;">
              Sellado
            </ion-label>
            <ion-button *ngIf="!establecimiento.sellado" shape="round" color="primary" style="font-family: 'Nunito'; font-size: 12px; font-weight: bold; margin-top: 4em; margin-right: 0.6em;" (click)="sellarEstablecimiento()">
              Sellar
            </ion-button>
           
            

          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-list>

  <!-- INFINITE SCROLL -->


</ion-content>




